<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Foodie Finds</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header id='navbar'>
      <div class='nav-left'>
        <ul class='nav-list'>
          <li class='nav-item'><a href='/' class='nav-link'>Home</a></li>
          <li class='nav-item'><a href='/aboutus' class='nav-link'>About Us</a></li>
          <li class='nav-item'><a
              href='/dashboard'
              class='nav-link'
            >Dashboard</a></li>
        </ul>
      </div>
      <div class='nav-middle'>
        <h1 class='homepage-title'>Dashboard</h1>
      </div>
      <div class='nav-right'>
        {{#if loggedIn}}
          <a href='#' class='nav-link logout-button' id='logout'>Logout</a>
        {{else}}
          <a href='/login' class='nav-link'>Login</a>
        {{/if}}
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>