<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Food Blog</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class='homepage-container'>
    <header id='navbar'>
      <h1 class='homepage-title'>FOOD BLOG</h1>
      {{#if loggedIn}}
        <ul class='nav-list'>
          <li class='nav-item'><a href='/' class='nav-link'>Home</a></li>
          <li class='nav-item'><a href='/aboutus' class='nav-link'>About Us</a></li>
          <li class='nav-item'><a
              href='/dashboard'
              class='nav-link'
            >Dashboard</a></li>
          <li class='nav-item'><a
              href='/api/users/logout'
              class='nav-link'
            >Logout</a></li>
        </ul>
      {{else}}
        <ul class='nav-list'>
          <li class='nav-item'><a href='/' class='nav-link'>Home</a></li>
          <li class='nav-item'><a href='/aboutus' class='nav-link'>About Us</a></li>
          <li class='nav-item'><a
              href='/dashboard'
              class='nav-link'
            >Dashboard</a></li>
          <li class='nav-item'><a href='/login' class='nav-link'>Login</a></li>
        </ul>
      {{/if}}

    </header>
    </div>
    <main>
      {{{body}}}
    </main>
  </body>
</html>