<div class='homepage-container'></div>
<h2 class='reviews-title'>ABOUT US</h2>
    <img src='../assets/food.jpg' alt='food-picture' width="400"
  height="300"/>
<div>
<p>Our app is able to search restaurants in a specific city/area. Add filters such as ranking, distance, cuisine, etc. This will narrow down the search and allow the user to pick a restaurant that meets all the requirements/preferences. The user will be able to login and add their own review and also have their own list of saved and visited restaurants.</p>
</div>