<div class='homepage-container'>
  <h2 class='reviews-title'>ABOUT US</h2>
  <img
    id='about-img'
    src='../assets/food.jpg'
    alt='food-picture'
    class='centered-image'
  />
  <div class='info-card'>
    <p>
      Foodie Finds is a useful tool for people who are looking for restaurants
      that cater to their specific dietary needs. Our app has a minimalist
      design and a user-friendly interface with a clear navigational structure
      that makes it easy to use. The user will be able to add their own review
      for a restaurant they've visted which will be saved to their account
      dashboard, as well as see other reviews of restaurants based off their
      filters.
    </p>
  </div>

  <img
    id='key-img'
    src='../assets/key-features.jpg'
    alt='key-features-picture'
    class='centered-image'
  />
  <div class='info-card'>
    <h3>Key Features:</h3>
    <ul style='text-align: left; display: inline-block;'>
      <li>Search Restaurants in a specific city</li>
      <li>Filter by Type</li>
      <li>Filter by Cuisine</li>
      <li>Filter by Price Range</li>
      <li>Filter by Rating</li>
      <li>Add your own review</li>
    </ul>
  </div>

  <img
    id='mission-img'
    src='../assets/healthy.jpg'
    alt='healthy-picture'
    class='centered-image'
  />
  <div class='info-card'>
    <h2 id='mission'>OUR MISSION</h2>
    <p id='mission-text'>
      We believe everyone should be equipped to access, share, and enjoy
      high-quality meals easily, especially in today's increasingly fast-paced
      world. Through our application, we help users make better choices that
      satisfy their nutritional needs, along with affordability and location
      preferences.
    </p>
  </div>
</div>