<div class="dropdown" style="float:left;">
  <button class="dropbtn">Sort by</button>
  <div class="dropdown-content" style="left:0;">
    <a href="#">City</a>
    <a href="#">Price Range</a>
    <a href="#">Rating</a>
  </div>
</div>



<script src="/js/dashboard.js"></script>