

<div class='dropdown' style='float:left;'>
  <button class='dropbtn'>Sort by</button>
  <div class='dropdown-content' style='left:0;'>
    <a href='#'>City</a>
    <a href='#'>Price Range</a>
    <a href='#'>Rating</a>
  </div>
</div>
<ul class='nav-list'>
  <li class='nav-item'><a href='/new' class='nav-link'>Create New Post</a></li>
</ul>

<script src='/js/new.js'></script>