<div class='homepage-container'>
  <h2 class='reviews-title'>Reviews</h2>
  <ul class='nav-list'>
    <li class='nav-item new-post-button'><a href='/new' class='nav-link'>Create
        New Post</a></li>
  </ul>
  <div class='reviews-section'>
    <aside id ="filters">
      <input type="submit" value="Apply filters">
      <form id = "type"> 
        <h4>Type:</h4>
        <input type="checkbox" id="sit-down" name="sit-down" value="sit-down">
        <label for="sit-down"> Sit-down</label><br>
        <input type="checkbox" id="quick-bites" name="quick-bites" value="quick-bites">
        <label for="quick-bites"> Quick bites</label><br>
        <input type="checkbox" id="cafe" name="cafe" value="cafe">
        <label for="cafe"> Cafe</label>
      </form>
      <form id = "cuisine"> 
        <h4>Cuisine:</h4>
        <input type="checkbox" id="mexican" name="mexican" value="mexican">
        <label for="mexican"> Mexican</label><br>
        <input type="checkbox" id="vietnamese" name="vietnamese" value="vietnamese">
        <label for="vietnamese"> Vietnamese</label><br>
        <input type="checkbox" id="american" name="american" value="american">
        <label for="american"> American</label><br>
        <input type="checkbox" id="indian" name="indian" value="indian">
        <label for="indian"> Indian</label>
      </form>
      <form id = "price-range"> 
        <h4>Price Range:</h4>
        <input type="checkbox" id="cheap" name="cheap" value="cheap">
        <label for="cheap"> $</label><br>
        <input type="checkbox" id="affordable" name="affordable" value="affordable">
        <label for="affordable"> $$</label><br>
        <input type="checkbox" id="fancy" name="fancy" value="fancy">
        <label for="fancy"> $$$</label><br>
        <input type="checkbox" id="premium" name="premium" value="premium">
        <label for="premium"> $$$$</label>
      </form>
      <form id = "rating"> 
        <h4>Rating:</h4>
        <input type="checkbox" id="five-star" name="five-star" value="five-star">
        <label for="five-star"> 5-star</label><br>
        <input type="checkbox" id="four-star" name="four-star" value="four-star">
        <label for="four-star"> 4-star</label><br>
        <input type="checkbox" id="three-star" name="three-star" value="three-star">
        <label for="three-star"> 3-star</label><br>
        <input type="checkbox" id="two-star" name="two-star" value="two-star">
        <label for="two-star"> 2-star</label><br>
        <input type="checkbox" id="one-star" name="one-star" value="one-star">
        <label for="one-star"> 1-star</label>
      </form>
    </aside>
    <ul class='reviews-list'>
      {{#each reviews}}
        <li>
          {{!-- <h3 class='review-restaurant'>{{this.restaurant}} --}}
          {{!-- in
            {{this.city}}</h3> --}}
          <p class='review-rating'>Rating: {{this.rating}}/5</p>
          <p class='review-content'>{{this.content}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</div>