<h1>Welcome to the Homepage</h1>

{{#if loggedIn}}
  <ul>
    <li class='li-inline nav-item'><a
        href='#'
        class='btn'
        id='logout'
      >Logout</a></li>

  </ul>
{{else}}
  <p>Please <a href='/login'>login</a> to go to access the page.</p>
{{/if}}

<script src='/js/logout.js'></script>