<div class='new-review-container'>

  <h2 class='new-review-title'>Create New Review</h2>

  <form id='new-review-form'>
    <label class='form-label' for='review-city'>City</label>
    <input type='text' id='review-city' class='form-input' />

    <label class='form-label' for='review-restaurant'>Restaurant</label>
    <input type='text' id='review-restaurant' class='form-input' />

    <label class='form-label' for='review-rating'>Rating (1-5)</label>
    <input type='text' id='review-rating' class='form-input' />

    <label class='form-label' for='review-content'>Content</label>
    <textarea id='review-content' class='form-input'></textarea>

    <button type='submit' class='create-button'>Create</button>
  </form>
</div>

<script src='/js/searchRestaurant.js'></script>
<script src='/js/new.js'></script>