<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>

    <form action="/signup" id="signup" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="password" required>

        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
<script src="/js/signup.js"></script>