<div class='user-reviews-container'>
  <div class='reviews-header'>
    <h2 class='user-reviews-title'>Your Reviews!</h2>
    <a href='/new' class='create-new-button'>Create New Post</a>
  </div>
  <ul class='reviews-list'>
    {{#each reviews}}
      <li class='reviews-item'>
        <h3 class='review-restaurant'>{{this.restaurant}}
          in
          {{this.city}}</h3>
        <p class='review-rating'>Rating: {{this.rating}}/5</p>
        <p class='review-content'>{{this.content}}</p>
      </li>
    {{/each}}
  </ul>
</div>