aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

.login-container {
  background-color: #cbf3f0;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-title {
  text-align: center;
  color: #2ec4b6;
}
.form-group {
  margin-bottom: 15px;
}
.form-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit-button {
  background-color: #ffbf69;
  color: white;
  border: none;
  padding: 10px 15px;
  text-transform: uppercase;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #adcfa6;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
}
.signup-link a {
  color: #ffbf69;
  text-decoration: none;
  font-weight: bold;
}
.signup-link a:hover {
  color: #e6a157;
}
.homepage-container {
  text-align: center;
  padding: 50px;
  background-color: #cbf3f0;
}
.homepage-title {
  color: #2ec4b6;
  margin-bottom: 20px;
}
.nav-list {
  list-style: none;
  padding: 0;
}
.nav-item {
  display: inline;
  margin-right: 15px;
}
.nav-link,
.logout-button {
  background-color: #ffbf69;
  color: white;
  border: none;
  padding: 8px 12px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.nav-link:hover,
.logout-button:hover {
  background-color: #adcfa6;
}
.login-redirect {
  color: #2ec4b6;
  font-size: 16px;
}
.login-redirect a {
  color: #ffbf69;
  text-decoration: none;
  font-weight: bold;
}
.login-redirect a:hover {
  color: #e6a157;
}
.signup-container {
  background-color: #cbf3f0;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.signup-form {
  display: flex;
  flex-direction: column;
}
.signup-title {
  text-align: center;
  color: #2ec4b6;
}
.login-link {
  text-align: center;
  margin-top: 15px;
}

.login-link a {
  color: #ffbf69;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  color: #e6a157;
}
.gradient-background {
  background: linear-gradient(135deg, #adcfa6, #cbf3f0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews-section {
  margin-top: 30px;
  display: flex;
}
.reviews-title {
  color: #2ec4b6;
  text-align: center;
}

.reviews-list {
  list-style-type: none;
  padding: 0;
}

.review-item {
  background-color: #cbf3f0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-restaurant {
  color: #ffbf69;
  margin-bottom: 5px;
}

.review-rating,
.review-content {
  color: #333;
}

.review-rating {
  font-style: italic;
}

.new-post-button {
  display: flex;
  float: right;
}
