.login-container {
  background-color: #cbf3f0;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-title {
  text-align: center;
  color: #2ec4b6;
}
